@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: "Noto Sans JP", sans-serif;
  background: url("../img/fondo-prueba.jpg"); }

img {
  width: 120%;
  height: auto; }

.servicios,
.presentacion,
.hero2,
.footer-content {
  width: 80%;
  margin: auto; }

.titulo-servicios,
.presentacion,
.hero2 {
  margin-bottom: 10%; }

.accordion-button {
  font-size: 2rem !important; }

p {
  font-size: 1.8rem;
  color: #3a3a3a; }

h2 {
  font-size: 3rem !important; }

h3 {
  font-size: 2rem;
  font-weight: lighter; }

.btn, .btn-principal, .btn-secundario {
  border: none;
  border-radius: 2px;
  padding: 0.7em 1.5em;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  transition: transform 100ms; }
  .btn:hover, .btn-principal:hover, .btn-secundario:hover {
    transform: scale(1.1); }

.btn-principal {
  color: #fff;
  background-color: #ee8c58; }

.btn-secundario {
  background-color: #868484; }

.gallery {
  padding: 80px 0px; }

.gallery img {
  background: #fff;
  padding: 15px;
  width: 100%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer; }

#gallery-popup .modal-img {
  width: 100%; }

@media (min-width: 1400px) {
  nav {
    width: 100%; }
  .servicios,
  .footer-content,
  .presentacion {
    width: 60%;
    margin: auto; } }

@media (max-width: 992px) {
  .presentacion,
  .slide-img,
  .tipo-servicios {
    flex-direction: column; }
  .presentacion div,
  .slide-img {
    text-align: center;
    margin-bottom: 30px; }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 20px; }
    nav ul {
      padding-left: 0; }
  img {
    width: 100%;
    height: auto; }
  .slide-img p {
    padding-top: 180px; } }

@media (max-width: 420px) {
  .presentacion div {
    text-align: center;
    margin-bottom: 10px; }
    .presentacion div h1,
    .presentacion div p {
      padding: 0; }
  h1 .tittle-proyectos {
    padding-top: 5rem; }
  img {
    width: 90%;
    height: auto; }
  .questions {
    display: none; } }

.pie-pagina {
  width: 100%;
  background-color: #ee8c58; }

.pie-pagina .footer-proyectos {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px; }

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  padding: 45px 0px; }

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.pie-pagina .grupo-1 .box figure img {
  width: 250px; }

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px; }

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px; }

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #ee8c58;
  text-align: center;
  transition: all 300ms ease; }

.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua; }

.pie-pagina .grupo-2 {
  background-color: #945838;
  padding: 15px 10px;
  text-align: center;
  color: #fff; }

.pie-pagina .grupo-2 small {
  font-size: 15px; }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.container .card {
  width: 330px;
  height: 416px;
  padding: 60px 30px;
  margin: 20px;
  background: #f2f3f7;
  box-shadow: 0.6em 0.6em 1.2em #d2dce9, -0.5em -0.5em 1em #ffffff;
  border-radius: 20px; }

.container .card .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.container .card .content .imgBx {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: relative;
  margin-bottom: 20px;
  overflow: hidden; }

.container .card .content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.container .card .content .contentBx h4 {
  color: #36187d;
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px; }

.container .card .content .contentBx h5 {
  color: #6c758f;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center; }

.container .card .content .sci {
  margin-top: 20px; }

.container .card .content .sci a {
  text-decoration: none;
  color: #6c758f;
  font-size: 30px;
  margin: 10px;
  transition: color 0.4s; }

.container .card .content .sci a:hover {
  color: #0196e3; }

.logo {
  width: 50%;
  height: 50%; }

header {
  position: fixed;
  top: 0;
  border-top: 30px solid #343533;
  width: 100%; }

.text-warning {
  color: #ee8c58; }

.wrapper {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 100px; }

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; }
  nav ul {
    display: flex;
    padding: 0; }
    nav ul a {
      padding: 10px;
      font-size: 1.6rem;
      font-weight: bold; }
    nav ul a:hover {
      color: #ee8c58;
      transform: scale(1.1); }

.presentacion {
  padding-top: 200px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap; }
  .presentacion .flex-item2 {
    text-align: center; }
  .presentacion h1 {
    margin-top: 0;
    padding-right: 20px;
    font-size: 3rem; }
  .presentacion p {
    padding-right: 20px;
    padding-bottom: 10px; }

.slide-img {
  padding-top: 180px;
  padding-bottom: 6px; }

.hero2 {
  padding-top: 60px;
  padding-bottom: 50px; }
  .hero2 h1 {
    margin-top: 100px;
    padding-right: 20px;
    font-size: 3rem; }
  .hero2 p {
    padding-right: 20px;
    padding-bottom: 10px; }

.error-404 {
  padding-bottom: 100px; }

.contactos {
  padding-top: 100px;
  padding-bottom: 50px; }

.faqs {
  margin-bottom: 100px; }

.questions {
  width: 70vh; }

.accordion-body {
  font-size: 15px; }

.servicios div {
  text-align: center; }

.servicios .tipo-servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap; }
  .servicios .tipo-servicios i {
    font-size: 30px;
    color: #ee8c58; }
