/* Formulario de contacto */

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-flow: column;
  background-color: white;
  width: 40%;
  height: 80%;
  padding: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 50px;
  border-radius: 10px;
}

input,
textarea {
  border: none;
  resize: none;
  outline: none;
  padding: 15px 0px;
  width: 80%;
  margin: 20px;
  transition: all 300ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

input:focus,
textarea:focus {
  border-bottom-color: #610061;
}

button {
  border: none;
  outline: none;
  background: rgb(255, 246, 163);
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 246, 163, 1) 34%,
    rgba(255, 87, 138, 1) 74%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 246, 163, 1) 34%,
    rgba(255, 87, 138, 1) 74%
  );
  background: linear-gradient(
    90deg,
    rgba(255, 246, 163, 1) 34%,
    rgba(255, 87, 138, 1) 74%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fff6a3",endColorstr="#ff578a",GradientType=1);
  padding: 15px;
  width: 200px;
  color: black;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
  margin: 20px 0px;
  cursor: pointer;
  transition: all 300ms;
}

button:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 10px;
}
