//FOOTER

.p-70 {
  padding: 70px;
}
.bg-gray {
  background-color: #343533;
}
.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.text-heading {
  color: white;
}
.text-para {
  color: salmon;
}
.text-edit {
  color: white;
}

/* footer {
  min-height: 80px;
  background-color: rgb(52, 53, 51);
  margin-top: 0;
  .footer-content {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
} */
