@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

// Globales

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: "Noto Sans JP", sans-serif;
  background: url("../img/fondo-prueba.jpg");
}

img {
  width: 120%;
  height: auto;
}

.servicios,
.presentacion,
.footer-content {
  width: 80%;
  margin: auto;
}

.titulo-servicios,
.presentacion {
  margin-bottom: 10%;
}

// Variables

$font-p: 1.8rem;
$font-h1: 3rem;
$font-h2: 2.4rem;
$font-h3: 2rem;
$color-secundario: #ee8c58;

p {
  font-size: $font-p;
  color: rgb(58, 58, 58);
}

h2 {
  font-size: $font-h2;
}

h3 {
  font-size: $font-h3;
  font-weight: lighter;
}

.btn {
  border: none;
  border-radius: 2px;
  padding: 0.7em 1.5em;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  transition: transform 100ms;
  &:hover {
    transform: scale(1.1);
  }
}

.btn-principal {
  @extend .btn;
  color: #fff;
  background-color: $color-secundario;
}

.btn-secundario {
  @extend .btn;
  background-color: rgb(134, 132, 132);
}

.gallery {
  padding: 80px 0px;
}
img {
  max-width: 100%;
}
.gallery img {
  background: #fff;
  padding: 15px;
  width: 100%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
#gallery-popup .modal-img {
  width: 100%;
}

//MIXINS

@mixin caja-flex($principal, $cruzado, $wrap) {
  display: flex;
  justify-content: $principal;
  align-items: $cruzado;
  flex-wrap: $wrap;
}

// FUNCIONES

@function font-calc($size, $type) {
  $font: 16;

  @if $type ==h1 {
    $font: ($size + 0.2 * $size);
  }

  @if $type ==h2 {
    $font: ($size + 0.1 * $size);
  } @else {
    $font: 16;
  }

  @return $font + px;
}
